{% extends 'truckapp/base.html' %} {% block content %}
<div class="my" align="center">
    <h1>Truck DashBoard</h1>
    <form method="post">
        {% csrf_token %}
        <table border="2px" align="center">
            <thead align="center">
                <th>Truck </th>
                <th>Food Type</th>
                <th>Address</th>
                <th>Opening Timing</th>
                <th>Closing Timing</th>
                <th>Action</th>
            </thead>

            {% for truck in truck_list %}
            <tr align="center">
                <td>{{ truck.truck_name }}</td>
                <td>{{ truck.food_type }}</td>
                <td>{{ truck.truck_location }}</td>
                <td>{{ truck.truck_opening_time }}</td>
                <td>{{truck.truck_closing_time}}</td>
                <td>
                    <a class="btn btn-success" href="update/{{ truck.pk }}">Update</a>|<a href="delete/{{ truck.pk }}" class="btn btn-danger">Delete</a
          >
        </td>
      </tr>

      {% endfor %}
    </table>
    <a href="{% url 'add' %}" class="btn btn-primary">Add New Truck</a>
    </form>
</div>
{% endblock %}